.App {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-button {
  color: red;
  background: none;
  border: 2px solid red;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}